[submodule "packages/reflect-detection"]
	path = packages/reflect-detection
	url = https://github.com/bridgedxyz/reflect-detection
[submodule "packages/coli"]
	path = packages/coli
	url = https://github.com/bridgedxyz/coli
[submodule "packages/design-sdk"]
	path = packages/design-sdk
	url = https://github.com/bridgedxyz/design-sdk
[submodule "packages/reflect-core"]
	path = packages/reflect-core
	url = https://github.com/bridgedxyz/reflect-core-ts